.header {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 40px;
  }
  .header_group{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 146px;
  }
  
  .Logo{
    width: 118px;
    height: 118px;
  
  
  }
  .header__search{
    width: 354px;
    height: 49px;
    border-radius: 10px;
    border: 2px solid #00BF63
  
  }
  .menu {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
    align-items: center;
    
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .item__box{
    color: #00BF63;
    transition: 0.2s;
  }
  .item__box:hover{
    color: white;
    border-radius: 35px;
    background-color: #00BF63;
    padding: 5px 10px 5px 10px;
    transition: 0.2s;
  }